@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Bungee&family=Changa+One&display=swap');

.headerStyle{
	font-family: 'Bungee', cursive;
	font-weight: 600;
	display: flex;
	
	/*font-size: 60px*/;
	color: #FFFFFF;
	/*text-shadow: 5px 0 0 #000, -5px 0 0 #000, 0 5px 0 #000, 0 -5px 0 #000, 5px 5px #000, -4px -4px 0 #000, 5px -4px 0 #000, -4px 5px 0 #000;*/
}
