@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Changa+One&display=swap');
#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
	/*justify-content: center;*/
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}


.IconNew{
	justify-content: space-between;
    display: flex;
}



.MainImage{
	border: 2px dashed #000;
	box-sizing: border-box;
	border-radius: 12px;
	width: 82px;
	height: 82px;
	background: #2C2A32;
	align-items: center;
	justify-content: center;
	display: flex;
}

.containImg{
	max-width:80%;
	max-height:80%;
}

.BadgeStyle{
	font-family: 'Changa One';
font-style: normal;
/*padding: ;*/
/*width: 62px;*/
/*height: 17px;*/
color: rgba(255, 255, 255, 0.8);
font-weight: 400;
font-size: 16px;
line-height: 17px;
}